<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Nu s-a putut gasi!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Pagina principala</a>
    </div>
</div>