<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Accountul a fost creat cu succes!</h2>
        <p> Acum va puteti conecta in noul accountul dvs. </p>
        <hr />
        <p>Multumim!</p>
    </div>
</div>