@model AnalizaNouaVM
@using AplicatieClinicaAnalize.Data.Enums;
@{
    ViewData["Title"] = "Adauga o noua analiza";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Adauga o noua analiza</h4>
        </p>

        <div class="row">
             <div class="col-md-8 offset-2">
                 <form asp-action="Create">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="NumeAnaliza" class="control-label"></label>
                                <input asp-for="NumeAnaliza" class="form-control" />
                                <span asp-validation-for="NumeAnaliza" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PretAnaliza" class="control-label"></label>
                                <input asp-for="PretAnaliza" type="number" class="form-control" />
                                <span asp-validation-for="PretAnaliza" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ClinicaId" class="control-label"></label>
                                <select asp-for="ClinicaId" class="form-control" asp-items="ViewBag.Clinici" ></select>
                                <span asp-validation-for="ClinicaId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategorieAnaliza" class="control-label"></label>
                                <select asp-for="CategorieAnaliza" class="form-control" asp-items="Html.GetEnumSelectList<CategorieAnaliza>()"></select>
                                <span asp-validation-for="CategorieAnaliza" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorIds" class="control-label"></label>
                                <select asp-for="DoctorIds" class="form-control" asp-items="ViewBag.Doctori" multiple></select>
                                <span asp-validation-for="DoctorIds" class="text-danger"></span>
                            </div>
                        </div>
                     </div>

                     <div class="form-group">
                         <input type="submit" value="Creaza" class="btn btn-outline-success float-end" />
                         <a class="btn btn-outline-secondary" asp-action="Index">Afisaza toate analizele</a>
                     </div>

                 </form>
            </div>
        </div>

    </div>
</div>