@{
    ViewData["Title"] = "Aplicatie Clinica Analize";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit!</h1>
    <img src="https://sanovital.ro/wp-content/uploads/2019/01/banner1.png" />
</div>
