<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Comanda plasata cu succes!</h2>
        <p> Puteti vedea toate comenzile dvs. in sectiunea Orders a profilului </p>
        <hr />
        <p>Multumim!</p>
    </div>
</div>